
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 221 22% 8%;
    --foreground: 0 0% 100%;

    --card: 222 17% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 222 17% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 150 100% 62%;
    --primary-foreground: 0 0% 0%;

    --secondary: 165 65% 56%;
    --secondary-foreground: 0 0% 0%;

    --muted: 223 15% 20%;
    --muted-foreground: 223 9% 70%;

    --accent: 174 70% 55%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 223 12% 22%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    direction: rtl;
    font-family: 'Vazirmatn', sans-serif;
  }

  html {
    -webkit-tap-highlight-color: transparent;
  }
}
